<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="div-with-background">
  <p>This div should NOT have a red background.</p>
  <p>It should have an image background if the url() function was working.</p>
</div>
